body ::-webkit-scrollbar {
  display: none !important;
}

html,
body {
  margin: 0;
  padding: 0;
}

body {
  background-color: #999;
  cursor: default;
}

.custom-input {
  border: 1px solid #ccc;
  border-radius: 20px;
  padding: 10px 20px;
  text-indent: 50px;
  font-size: 1rem;
}

.custom-input:focus {
  outline: none;
  border: 1px solid rgba(20, 101, 240, 0.5);
}

a {
  text-decoration: none;
  color: "#333";
}

.bubble {
  padding: 10px;
  border-radius: 10px;
  margin: 10px;
  max-width: 70%;
  word-wrap: break-word;
}

.start {
  background-color: #f0f0f0;
  color: #333333;
}

.end {
  background-color: #0b4f6c;
  color: #ffffff;
}

.modal-background::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.2));
}

@keyframes flipAndChange {
  0%,
  100% {
    transform: rotateY(0deg); /* Initial and final state: no rotation */
    scale: 1;
    fill: #999; /* Initial and final fill color */
  }
  50% {
    transform: rotateY(180deg); /* Rotate 180 degrees at 50% keyframe */
    scale: 1.5;
    fill: #3498db; /* Change fill color at 50% keyframe */
  }
}

#disabled-input::placeholder {
  color: #e5e5e5;
}
